@tailwind base;
@tailwind components;
@tailwind utilities;

.floating{
  animation: floating 3s ease 0 infinite forwards true;
}
.animation-duration-3{
  animation-duration: 3s;
}

@layer components {
  .cta-btn{
    @apply bg-gradient-to-tr from-[#AAB3EF] text-lg to-[#8145A5] py-1 px-2 pt-0 rounded-md flex items-center justify-center text-white
  }
}

.nav{
  @apply lg:items-center text-sm flex flex-col absolute right-8 top-14 p-4 gap-4 bg-white rounded-md drop-shadow-md lg:flex-row lg:static lg:right-0 lg:top-0 lg:p-0 lg:bg-transparent lg:rounded-none lg:drop-shadow-none
}
.nav li{
  list-style: none;
}

@keyframes float {
  
  0%{
    translate: 16px;
  }
  
  100%{
    translate: 160px;
  }
}