@tailwind base;
@tailwind components;
@tailwind utilities;

.floating{
  animation: floating 3s ease 0 infinite forwards true;
}
.animation-duration-3{
  animation-duration: 3s;
}

@layer components {
  .cta-btn{
    @apply bg-gradient-to-tr from-[#AAB3EF] text-lg to-[#8145A5] py-1 px-4 rounded-md flex items-center justify-center text-white
  }
}



@keyframes float {
  
  0%{
    translate: 16px;
  }
  
  100%{
    translate: 160px;
  }
}